# ========== 系统 & 编辑器 ==========
.vscode/
.idea/
*.swp
*.swo
*~

# ========== Python ==========
__pycache__/
*.pyc
*.pyo

# ========== 雨云自动注册 ==========
雨云自动注册/venv/
雨云自动注册/temp/
雨云自动注册/accounts_passwords.csv
